/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

/* Стили для контейнера ввода */
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 60px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    margin: 0 5px;
}

button {
    font-size: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button:focus {
    outline: none;
}
